<footer class="main-footer">
    <hr class="footer-divider">

    <div class="footer-content">

        <p class="footer-org">لجنة الفعاليات | مجتمع رؤى البيانات (Data Insights)</p>
    </div>

    <div class="footer-links">
        <small>تم التطوير بكل حب لدعم المعسكرات والورش الحضورية</small>
    </div>
</footer>

<!-- السكريبتات المشتركة -->
<script src="/js/utils.js"></script>
<script src="/js/notifications.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>

</html>