<footer class="main-footer">
        <hr class="footer-divider">
        
        <div class="footer-content">
            
            <p class="footer-org">لجنة الفعاليات | مجتمع رؤى البيانات (Data Insights)</p>
        </div>

        <div class="footer-links">
            <small>تم التطوير بكل حب لدعم المعسكرات والورش الحضورية</small>
        </div>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
</body>
</html>